Repository GDSC-CAU/GDSC-SPACE: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "**/*.{js,ts,tsx}": ["prettier --write", "eslint --fix"],
    "**/*.{mdx,json}": ["prettier --write"]
}

setup: add .gitignore
  .gitignore
Due: none

setup: prettier
  .prettierignore
  prettier.config.js
Due: prettier --write, eslint --fix

setup: eslint
  .eslintignore
  .eslintrc.js
Due: prettier --write, eslint --fix

setup: tailwindcss
  postcss.config.js
  tailwind.config.js
Due: prettier --write, eslint --fix

setup: tsconfig for typescript
  tsconfig.json
  tsconfig.path.json
Due: prettier --write

setup: next.config for production
  next.config.js
Due: prettier --write, eslint --fix

setup: add test main page and enable tailwind
  src/app/layout.tsx
  src/app/page.tsx
  src/styles/tailwind.css
Due: prettier --write, eslint --fix

feat: add `partytown` ^0.8.0 for G.A
  src/components/index.ts
  src/components/service/GoogleAnalytics.tsx
Due: prettier --write, eslint --fix

setup: tailwind plugin vscode setting
  .vscode/settings.json
Due: prettier --write

setup: add test util folder
  src/utils/index.ts
Due: prettier --write, eslint --fix

setup: add guide readme for public folder
  public/README.md
Due: none

docs: add main `readme.md`
  README.md
  assets/guide.png
  package.json
Due: prettier --write

chore: update `.gitignore` for tests
  .gitignore
Due: none

chore: add `jest`, `react-testing-library`, `playwright` for test setup
  package.json
  pnpm-lock.yaml
Due: prettier --write

test: add example unit test code
  jest.config.mjs
  jest.setup.js
  src/__test__/index.test.tsx
Due: prettier --write, eslint --fix

test: add e2e example test code
  e2e/index.test.tsx
  playwright.config.ts
Due: prettier --write, eslint --fix

docs: update guide `readme` for testing process
  README.md
Due: none

chore: Update gitignore
  .gitignore
Due: none

feat: Added Links Component on \/
  src/app/page.tsx
Due: prettier --write, eslint --fix

feat: Moved Link from page to layout
  src/app/layout.tsx
  src/app/page.tsx
Due: prettier --write, eslint --fix

feat: Added BlogList Component
  src/app/blog/page.tsx
Due: prettier --write, eslint --fix

feat: Added EventList Component
  src/app/events/page.tsx
Due: prettier --write, eslint --fix

feat: Added MemberList Component
  src/app/members/page.tsx
Due: prettier --write, eslint --fix

feat: Added ProjectList Component
  src/app/projects/page.tsx
Due: prettier --write, eslint --fix

feat: Added BlogView Component
  src/app/blog/[id]/page.tsx
Due: prettier --write, eslint --fix

feat: Added EventView Component
  src/app/events/[id]/page.tsx
Due: prettier --write, eslint --fix

feat: Added ProjectView Component
  src/app/projects/[id]/page.tsx
Due: prettier --write, eslint --fix

feat: Added Links for App Layout
  src/app/layout.tsx
Due: prettier --write, eslint --fix

feat: Added Links for Example
  src/app/blog/page.tsx
  src/app/events/page.tsx
  src/app/projects/page.tsx
Due: prettier --write, eslint --fix

docs: Added Rules.md
  Rules.md
Due: none

docs: Update Rules.md
  Rules.md
Due: none

docs: Update Rules.md
  .github/ISSUE_TEMPLATE.md
Due: none

docs: Update Rules.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: add pretendard font source
  src/styles/fonts/100.woff2
  src/styles/fonts/200.woff2
  src/styles/fonts/300.woff2
  src/styles/fonts/400.woff2
  src/styles/fonts/500.woff2
  src/styles/fonts/600.woff2
  src/styles/fonts/700.woff2
  src/styles/fonts/800.woff2
  src/styles/fonts/900.woff2
  src/styles/fonts/LICENSE.txt
Due: none

feat: setup project design tokens using `tailwind.config`
  src/app/layout.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

design: update example logo using primary colors
  src/app/page.tsx
Due: prettier --write, eslint --fix

docs: update commit rule section at `Rules.md`
  Rules.md
Due: none

docs: add rule document link at main `README.md`
  README.md
Due: none

feat: add automation script to transform svg icons into component
  package.json
Due: prettier --write
